.margin-bottom-xs { margin-bottom: 0.5rem;}
.margin-bottom-s { margin-bottom: 1.0rem;}
.margin-bottom-m { margin-bottom: 1.25rem;}
.margin-bottom-l { margin-bottom: 1.5rem;}
.margin-bottom-xl { margin-bottom: 2.0rem;}

.margin-top-xs { margin-top: 0.5rem;}
.margin-top-s { margin-top: 1.0rem;}
.margin-top-m { margin-top: 1.25rem;}
.margin-top-l { margin-top: 1.5rem;}
.margin-top-xl { margin-top: 2.0rem;}

.margin-left-xs { margin-left: 0.5rem;}
.margin-left-s { margin-left: 1.0rem;}
.margin-left-m { margin-left: 1.25rem;}
.margin-left-l { margin-left: 1.5rem;}
.margin-left-xl { margin-left: 2.0rem;}

.margin-right-xs { margin-right: 0.5rem;}
.margin-right-s { margin-right: 1.0rem;}
.margin-right-m { margin-right: 1.25rem;}
.margin-right-l { margin-right: 1.5rem;}
.margin-right-xl { margin-right: 2.0rem;}

.margin-all-xs { margin: 0.5rem;}
.margin-all-s { margin: 1.0rem;}
.margin-all-m { margin: 1.25rem;}
.margin-all-l { margin: 1.5rem;}
.margin-all-xl { margin: 2.0rem;}

.margin-vertical-xs { margin-top: 0.5rem;  margin-bottom: 0.5rem;}
.margin-vertical-s { margin-top: 1.0rem;  margin-bottom: 1.0rem;}
.margin-vertical-m { margin-top: 1.25rem;  margin-bottom: 1.25rem;}
.margin-vertical-l { margin-top: 1.5rem;  margin-bottom: 1.5rem;}
.margin-vertical-xl { margin-top: 2.0rem;  margin-bottom: 2.0rem;}

.margin-horizontal-xs { margin-left: 0.5rem; margin-right: 0.5rem;}
.margin-horizontal-s { margin-left: 1.0rem; margin-right: 1.0rem;}
.margin-horizontal-m { margin-left: 1.25rem; margin-right: 1.25rem;}
.margin-horizontal-l { margin-left: 1.5rem; margin-right: 1.5rem;}
.margin-horizontal-xl { margin-left: 2.0rem; margin-right: 2.0rem;}

.margin-left-auto {margin-left: auto;}
.margin-right-auto {margin-right: auto;}
.margin-top-auto {margin-top: auto;}
.margin-bottom-auto {margin-bottom: auto;}


.padding-bottom-xs { padding-bottom: 0.5rem;}
.padding-bottom-s { padding-bottom: 1.0rem;}
.padding-bottom-m { padding-bottom: 1.25rem;}
.padding-bottom-l { padding-bottom: 1.5rem;}
.padding-bottom-xl { padding-bottom: 2.0rem;}

.padding-top-xs { padding-top: 0.5rem;}
.padding-top-s { padding-top: 1.0rem;}
.padding-top-m { padding-top: 1.25rem;}
.padding-top-l { padding-top: 1.5rem;}
.padding-top-xl { padding-top: 2.0rem;}

.padding-left-xs { padding-left: 0.5rem;}
.padding-left-s { padding-left: 1.0rem;}
.padding-left-m { padding-left: 1.25rem;}
.padding-left-l { padding-left: 1.5rem;}
.padding-left-xl { padding-left: 2.0rem;}

.padding-right-xs { padding-right: 0.5rem;}
.padding-right-s { padding-right: 1.0rem;}
.padding-right-m { padding-right: 1.25rem;}
.padding-right-l { padding-right: 1.5rem;}
.padding-right-xl { padding-right: 2.0rem;}

.padding-all-xs { padding: 0.5rem;}
.padding-all-s { padding: 1.0rem;}
.padding-all-m { padding: 1.25rem;}
.padding-all-l { padding: 1.5rem;}
.padding-all-xl { padding: 2.0rem;}

.padding-vertical-xs { padding-top: 0.5rem;  padding-bottom: 0.5rem;}
.padding-vertical-s { padding-top: 1.0rem;  padding-bottom: 1.0rem;}
.padding-vertical-m { padding-top: 1.25rem;  padding-bottom: 1.25rem;}
.padding-vertical-l { padding-top: 1.5rem;  padding-bottom: 1.5rem;}
.padding-vertical-xl { padding-top: 2.0rem;  padding-bottom: 2.0rem;}

.padding-horizontal-xs { padding-left: 0.5rem; padding-right: 0.5rem;}
.padding-horizontal-s { padding-left: 1.0rem; padding-right: 1.0rem;}
.padding-horizontal-m { padding-left: 1.25rem; padding-right: 1.25rem;}
.padding-horizontal-l { padding-left: 1.5rem; padding-right: 1.5rem;}
.padding-horizontal-xl { padding-left: 2.0rem; padding-right: 2.0rem;}