

/* Native Modal */

.dialog {
  position: fixed;
  // width: 100vw;
  // height: 100vh;
  opacity: 0;
  visibility: hidden;
  // transition: all 0.2s ease;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  overflow: auto; // Have this so that content can scroll if taller than the screen
  padding:1rem;

  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index: 999;
  }
}


.dialog-bg {
  position: fixed;
  background-color: rgba($overlay-background, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
}

.dialog-container {
  border-radius: 0.5rem;
  background: $white;
  position: relative;
  width: calc(100vw - 2rem);
  max-width: 40rem;
  margin:0 auto;
  // max-height:80vh;
  // left: 50%;
  // top: 1rem;
  // margin-bottom: 2rem;
  // height: auto;
  // @include translate(-50%,1rem);

  display: flex;
  flex-direction:column;

  &.width-xs {
    max-width: 20rem;
  }

  &.width-sm {
    max-width: 30rem;
  }

  &.width-md {
    max-width: 40rem;
  }

  &.width-lg {
    max-width: 45rem;
  }

  &.width-xl {
    max-width: 60rem;
  }
}

.dialog-icon {
  font-size: 3rem;
    padding:1rem;
    margin:-1rem -1rem 1rem;
    text-align: center;


  &.success {
    color: $success;
    background-color: rgba($success,0.1);
  }

  &.error {
    color: $error;
    background-color: rgba($error,0.1);
  }

  &.warning {
    color: $warning;
    background-color: rgba($warning,0.1);
  }

  &.info {
    color: $info;
    background-color: rgba($info,0.1);
  }
}


.dialog-header {
  padding:1rem 1rem 0;
}

.dialog-body {
  // overflow: auto;
  padding:1rem;
}

.dialog-footer {
  padding:1rem;
  border-top: 1px solid rgba($black,0.1); 

}


.dialog-title {
  font-size:1.25rem;
  line-height: 2rem;
  font-weight: 500;
  padding:0.5rem 0;

  @media #{$breakpoint-sm-up} {
    font-size:1.5rem;
    line-height: 2rem;
  }

  @media #{$breakpoint-md-up} {
    font-size:1.5rem;
    line-height: 2rem;
  }
}