ul.faq-list {
    margin: 0 0 0rem;
    padding:0;
    list-style: none;
    >li {
        margin:0;
        padding:0;

        ul.faq-list {
            margin-left: 1.5rem;
        }
    }
}


a.faq-link {
    display: block;
    text-decoration: none;
    padding:0.75rem 2.75rem 0.75rem 0.75rem;
    position:relative;
    line-height: 1.5rem;
    color: inherit;


    &:after {
        content: '\f105';
        font-family: 'Line Awesome Free';
        font-weight: 900;
        position: absolute;
        right: 0.75rem;
        top: 0.75rem;
        font-size:1.25rem;
        width: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
    }

    &.selected {
        font-weight: 500;
        background-color: rgba($black,0.05);

        &:after {
            content: '\f107';
            font-family: 'Line Awesome Free';
            font-weight: 900;
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;
            font-size:1.25rem;
            width: 1.25rem;
            text-align: center;
        }
    }

    &:hover {
        background-color: rgba($black,0.05);
    }
}

a.page-link {
    display: block;
    text-decoration: none;
    padding:0.75rem 0.75rem;
}


.faq-answer {
    padding:0 0.75rem 0.75rem;
    margin-bottom: 1rem;
    background-color: rgba($black,0.05);
}