// $icomoon-font-family: "iconsuite" !default;
// $icomoon-font-path: "fonts" !default;

$icon_play: "\e90e";
$icon_repeat: "\e90c";
$icon_pause: "\e90d";
$icon_nuarca_labs: "\e90b";
$icon_arrows: "\e90a";
$icon_stripe: "\e909";
$icon_cross: "\e908";
$icon_zigzag: "\e907";
$icon_brush_stroke: "\e904";
$icon_splatter_1: "\e905";
$icon_splatter_2: "\e906";
$icon_logo_clipcards_knockout: "\e900";
$icon_logo_clipcards_layer1: "\e901";
$icon_logo_clipcards_layer2: "\e902";
$icon_logo_clipcards_layer3: "\e903";

